includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    universalObjectCratesClasses:
        - Craftile\Laravel\PropertyBag
        - Craftile\Core\Data\PropertyBag
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
